<div class='table-responsive ' >
    <table class='table' style="margin-left:490px;width: 40%;">
        <thead>
            <tr>
                <th>ID</th>
                <th>Price</th>
                <th>Image</th>
                <th>Quantity</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ProductList[1].ID}}</td>
                <td>{{ProductList[1].Price}} </td>
                <td><img [src]="ProductList[1].img" width="90"height="90"></td>
                <td>{{ProductList[1].Qunatity}}</td>
            </tr>
        </tbody>
    </table>
</div>